<%= form_for(vacation_itinerary) do |f| %>
  <% if vacation_itinerary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vacation_itinerary.errors.count, "error") %> prohibited this vacation_itinerary from being saved:</h2>

      <ul>
      <% vacation_itinerary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date %>
  </div>

  <div class="field">
    <%= f.label :travel_time %>
    <%= f.number_field :travel_time %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :need_vaccins %>
    <%= f.check_box :need_vaccins %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
